@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#bg3{background-color:#000000;}
#bg3 .foot{padding-top: 15px;}
footer{background-color:#000000; color: white; padding-bottom:45px;}
#foot1,#foot2,#foot3 a{color:white;padding-left: 10px;}
#foot4{background-color:black;}
#foot1 a:hover{
  text-decoration: none;
  color:#FFC831;
} 
#foot2 a:hover{
  text-decoration: none;
  color:#FFC831;
}
h5#firstchild{padding-top:15px;}

#foot1,#foot2,#foot3,#foot4 h3{color:#2cd0cd;}
#foot3 h4{padding-top: 15px;line-height: 1.4}
.lay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}